[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=GBA Tile Editor
Generic Name=GBA Tile Editor
Comment=Qt-base tile editor for GBA
Exec=gba-tileeditor
Terminal=false
Categories=Development;Qt; 